:root {
    --basic-black: #000;
    --basic-grey: #737373;
    --basic-light-grey: #BDBDBD;
    --basic-white: #fff;
    --basic-lightblue: #8EC2F2;
    --basic-yellow-green: #2DC071;
    --basic-yellow: #F3CD03;
    --basic-orange: #E77C40;
    --basic-secondary-orange: #FF7B52;
    --basic-red: #E74040;
    --basic-purple: #8D5CF6;
    --dark-background-color: #26335D;
}